@import "./variablesColor.scss";

.service {
    height: 700px;
    background-color: $Woodsmoke;
    padding: 100px 0;

    .title {
        padding: 20px 0;
    }

    .bg-title {
        color: $breakerbay;
        background-color: #1a3339;
        border-radius: 5px;
        padding: 0 10px;
        margin-left: 3px;
    }

    .font-title {
        font-size: 40px;
        font-weight: bold;
        color: $White;
    }

    .info-service {
        padding: 0 200px;
    }

    .box-card {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

    }
}
