@import "./variablesColor.scss";

footer {
    background-color: $Woodsmoke;
    color: $SilverSand;

    .box-card {
        padding: 100px 0;
        display: flex;

        .card {
            width: calc(100% / 4 - 20px);
            margin: 0 10px;
            border-radius: 5px;

            .generic-info {
                height: 40px;
                display: flex;
                align-items: center;
                margin: 5px 0;

                i {
                    font-size: 20px;
                    padding: 10px;
                    border-radius: 50%;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .credits {
        background-color: black;
        position: relative;

        .policy {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                color: $BluChill;
            }
        }

        .back-to-start {
            position: absolute;
            right: 20px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #19191e;
            text-align: center;
            line-height: 60px;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                background-color: $White;
            }

            .fa-arrow-up {
                color: $Woodsmoke;
                font-size: 30px;
                transition: all 0.3s;

                &:hover {
                    color: $BluChill;
                }
            }
        }
    }
}
