@import '@/style/variablesColor.scss';

.content-info {
    height: 50px;
    border: 1px solid black;
    background-color: $SmaltBlue;
    font-size: smaller;

    .contacts {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $White;

        ul {
            list-style: none;
            display: flex;

          li {
              margin-left: 20px;
          }
        }
    }
}

.jumbotron {
    height: 700px;
    width: 100%;
    border: 1px solid black;
    // background: url('../assets/bg-9.jpg') 50% 50%;
    background-color: black;
    background-size: cover;
    position: relative;

    // .jumbotron-overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background: black;
    //     opacity: 0.4;
    //     width: 100%;
    //     height: 100%;
    // }
    .nav-bar {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $White;
        
            ul {
                list-style: none;
                display: flex;
                align-items: center;

                
                li {
                    text-transform: uppercase;
                    margin-left: 40px;
                    
                }
            }
        }

        .content-jumbo {
            width: 40%;
            margin-top: 150px;
            background-color: red;

            P {
                padding: 15px 0;
            }

            
            h1 {
                color: $White;
                font-size: 60px;
            }

            .box-info {
                display: flex;
            }
        }
    }
