@import "./variablesColor.scss";
.bg {
    background-color: $GrayNurse;

    .logistical {
        padding: 100px 0;
        padding-bottom: 80px;
        width: 820px;
        margin: 0 auto;

        .info-stories {
            padding-right: 20px;
            padding: 0 100px;
            .color-title {
                color: $BluChill;
            }
            p {
                margin: 20px 0;
                color: $MidGray;
            }

            .bg-title {
                color: $BluChill;
                background-color: #cce3de;
                border-radius: 5px;
            }

            .font-title {
                font-size: 40px;
                font-weight: bold;
                padding: 0 10px;
            }
        }
    }

    .process {
        width: 100%;
        border-top: 4px solid #cce3de;
        padding: 0 150px;
        display: flex;
        padding-bottom: 100px;
    }
}
