@import "./variablesColor.scss";
.bg {
    background-color: $GrayNurse;

    .logistical {
        padding: 100px 0;
        padding-bottom: 80px;
        width: 820px;
        margin: 0 auto;

        .info-stories {
            padding-right: 20px;
            padding: 0 100px;
            .color-title {
                color: $BluChill;
            }
            p {
                margin: 20px 0;
                color: $MidGray;
            }

            .bg-title {
                color: $BluChill;
                background-color: #cce3de;
                border-radius: 5px;
            }

            .font-title {
                font-size: 40px;
                font-weight: bold;
                padding: 0 10px;
            }
        }
    }

    .process {
        width: 100%;
        border-top: 4px solid #cce3de;
        padding: 0 150px;
        display: flex;
        padding-bottom: 100px;

        .card-info {
            width: calc(100% / 5);
            text-align: center;
            position: relative;
            color: $MidGray;

            h3 {
                padding: 30px 40px;
                color: #000;
            }
            p {
                color: $MidGray;
            }

            .number-process {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #daeced;
                color: $BluChill;
                padding: 10px;
                border-radius: 50%;
                font-weight: bold;
            }
        }
    }
}
