@import './variablesColor.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1100px;
    border: 1px solid black;
}

.buttons {
    padding: 10px;
    border-radius: 5px;
    color: $White;
    text-transform: uppercase;
    cursor: pointer;
}
.button-login {
    background-color: $BluChill;
}
.button-transparent {
    margin-left: 15px;
    border: 1px solid $BluChill;
    // inserire opacity dopo aver messo l'immagine
}

.font-mini-title {
    color: $BluChill;
    text-transform: uppercase;
}
p {
    color: $SilverSand;
}

.text-center {
    text-align: center;
}

.py-4 {
    padding: 10px 0;
}