@import "./variablesColor.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.buttons {
    padding: 10px 20px;
    border-radius: 5px;
    color: $White;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $BluChill;
    }
}
.button-login {
    background-color: $BluChill;
}
.button-transparent {
    border: 1px solid $BluChill;
}

.font-mini-title {
    color: $BluChill;
    text-transform: uppercase;
}
p {
    color: $SilverSand;
}

.text-center {
    text-align: center;
}

.py-4 {
    padding: 15px 0;
}

.my-4 {
    margin: 15px 0;
}
.mr-4 {
    margin-right: 25px;
}

