@import "./variablesColor.scss";

.service {
    height: 700px;
    background-color: $Woodsmoke;
    padding: 100px 0;

    .title {
        padding: 20px 0;
    }

    .bg-title {
        color: $breakerbay;
        background-color: #1a3339;
        border-radius: 5px;
        padding: 0 10px;
        margin-left: 3px;
    }

    .font-title {
        font-size: 40px;
        font-weight: bold;
        color: $White;
    }

    .description-service {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info-service {
            width: 70%;
        }

        a {
            text-decoration: none;
        }
    }

    .box-card {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .content-card {
            width: calc(100% / 3 - 20px);
            height: 300px;
            padding: 30px;
            background-color: #19191e;
            border-radius: 10px;

            .box-image {
                display: flex;
                justify-content: space-between;

                .fa-temperature-low,
                .fa-truck-loading,
                .fa-boxes {
                    font-size: 40px;
                    background-color: #1a3339;
                    padding: 15px;
                    border-radius: 50%;
                }
                .fas {
                    color: $BluChill;
                }
            }
            h3 {
                padding: 15px 0;
                color: $White;
            }
        }
    }
}
