// Color Cube
$Woodsmoke: #121117;
$White:#ffffff;
$MidGray: #69696d;
$BlueLagoon: #038384;
$SilverSand: #bcbdbd;
$FountainBlue: #52bbbb;
$Tussock: #bd9542;
$CafeRoyale: #74370e;

// Median cut
$GrayNurse: #e6ece8;
$Shark: #191c1e;
$Kau: #604f42;
$breakerka1: #609d9f;
$SmaltBlue: #59838c;

// Material design

$BluChill: #16928e;
$SeaNymph: #719a9c;
$Quincy: #5d412a;
$Merlin: #403a36;
$Bermuda: #7fd2d5;